html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 92%;
  z-index: 1;
  cursor: crosshair;
}


.buttons_bar {
  position: absolute;
  bottom: 84px;
  max-height: 70%;
  width: 76px;
  background-color: black;
  overflow: hidden;
  border-radius: 4px;
  z-index: 3;
}

#info_bar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 120px;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  font: bold 13px Arial;
  z-index: 2;
}
#bottom_menu {
  position: absolute;
  background-color: black;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 3;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.state-located{
  color: #6666ff; }
.state-loc-disabled{
  opacity: 0.2;
  color: #000000; }
.state-locating{
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
  color: #000000; }
.state-loc-ready{
  color: #000000; }
