html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 90%;
}

.buttons_bar {
  position: absolute;
  bottom: 84px;
  max-height: 70%;
  width: 76px;
  background-color: black;
  overflow: hidden;
  border-radius: 4px;
}

#info_bar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 120px;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  font: bold 13px Arial;
}
#bottom_menu {
  position: absolute;
  background-color: black;
  height: 80px;
  width: 100%;
  bottom: 0;
}
